{% extends "base.html" %}

{% block content %} 
<header class="masthead">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>	
        {% endfor %}
    {% endif %}
    <div class='d-flex flex-column justify-content-center text-center'>
        <h2 class="font-weight-bold mt-3">Mot de passe renouvelé avec succès</h2>
        <hr>
        <p>Votre nouveau mot de passe a été pris en compte. Vous pouvez désormais vous connecter.</p>                 
        <a href="/accounts/login" class="btn btn-primary">Se Connecter</a>
    </div>
</header>
  

{% endblock %}