{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}  
  <header class="masthead">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>	
        {% endfor %}
    {% endif %}
    <!--Password Reset Confirm-->
    <h2 class="font-weight-bold mt-3">Password renewal confirmation</h2>
    <hr>
    <p>Enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}   
        <input class="btn btn-primary" type="submit" value='Renew my password' disabled />
  </header>
{% endblock %}