{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}  
  <header class="masthead">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>	
        {% endfor %}
    {% endif %}
    <!--Password Reset Confirm-->
    <h2 class="font-weight-bold mt-3">Confirmation de Renouvellement de Mot de Passe</h2>
    <hr>
    <p>Veuillez entrer votre nouveau mot de passe.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}   
        <button class="btn btn-primary" type="submit">Renouveler le mot de passe</button>
    </form>
  </header>
{% endblock %}