{% extends 'base.html' %}


{% block content %}
{% load crispy_forms_tags %}          
	<header class="masthead">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>	
            {% endfor %}
        {% endif %}
        <h2 class="font-weight-bold mt-3">Réinitialisation du mot de passe</h2>
        <hr>
        <p>Mot de passe oublié ? Entrez votre adresse mail ci-dessous et un email contenant les instructions pour le renouveler vous sera envoyé.</p>
        <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}               
        <button class="btn btn-primary" type="submit">Envoyer l'email</button>
        </form>
	</header>
	<!--Reset Password-->
{% endblock %}