[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django = "*"
django-crispy-forms = "*"
django-money = "*"
requests = "*"
selenium = "*"
pyyaml = "*"
opencv-python = "*"
pyzbar = "*"
pillow = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"
pyrate-limiter = "*"
sentry-sdk = "*"

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"
coverage = "*"
black = "*"

[requires]
python_version = "3.9"
