{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>	
        {% endfor %}
    {% endif %}
    <div class="content">
        <div class="d-flex flex-row justify-content-center">
            <img src="{{ game.image }}" alt="game_image" class="mb-2" id="game-img"/>
            <div class="d-flex flex-column justify-content-center" id="game-info">
                <p id="game-name">{{ game.name }}</p>
                <p>
                    <strong>
                        Barcode :
                    </strong>
                    {{ game.barcode }}
                </p>
                <p>
                    <strong>
                        Average selling price on eBay :
                    </strong>
                    {{ game.avg_price }}
                </p>
            </div>  
        </div>
        {% if user.is_authenticated %}
            <label for="collections">Choose a collection:</label>

            <select name="collections" id="collections" class="mb-3" form="add-to-collec-form">
                {% for collection in collections %}
                    <option value="{{collection.name}}">{{collection.name}}</option>
                {% endfor %}
            </select> 

            <form method="post" action="{% url 'collection:add_game_to_collection' %}" id="add-to-collec-form">
                {% csrf_token %}
                <input type="hidden" name="barcode" value="{{game.barcode}}">
                <button type="submit" name="submit_param" value="Add to your collection" class="btn btn-link">
                    Add to your collection
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}