{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>	
        {% endfor %}
    {% endif %}
    <br>
    <div class="d-flex flex-column justify-content-center">
        <h2 class="text-center text-white-75 mb-5">Create your account</h2>
        <form method="POST" action="{% url 'accounts:register' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div class="d-flex justify-content-center">
                <input type="submit" value="S'enregistrer" class="btn btn-secondary">
            </div>
        </form>
    </div>
</header>
{% endblock content %}