#expand-button {
    border-color: transparent;
}

.navbar {
    min-height: 3rem;
}

.content {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    min-height: calc(100vh - 10rem);
}

header {
    padding: 1rem;
}

footer {
    padding: 1rem;
    margin-bottom: 0px;
    min-height: 4rem;
}

.form-group {
    padding-bottom: 1rem;
}

.asteriskField {
    visibility: hidden;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(73, 50, 204);
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    opacity: 85%;
}

video {
    width: 100%;
}

.not-yet-authorized {
    background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1));
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted 1px;
    border-radius: 25px;

}

#my-camera {
    height: 200px;
    width: 100%;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
}

#my-upload {
    height: 200px;
    width: 100%;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
}

#my-upload>input[type=file] {
    font-size: smaller;
}

#game-name {
    font-weight: bolder;
    text-align: center;
}

#game-img {
    height: 200px;
}

#game-info {
    font-size: small;
}

.game-img-collec {
    height: 125px;
}

#home-cta {
    width: 120px;
}

#text-center {
    text-align: center;
}

#collec-creation-link {
    padding-top: 1rem;
}

.form-control:focus {
    border-color: rgb(73, 50, 204);
    box-shadow: 0 0 0 0.25rem rgb(121 113 167);
}

@media (min-width: 992px) {
    .masthead {
        width: 900px;
    }

    .explanation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1));
        border-radius: 25px;
    }

    .explanation-block {
        display: flex !important;
        flex-direction: column !important;
        padding: 2rem;
    }

    .explanation-block-reversed {
        flex-direction: column !important;
    }

    #explanation-img {
        object-fit: contain;
        height: 10rem;
    }

    .explanation-text {
        display: flex;
        font-style: italic;
        font-size: medium;
        align-items: center;
        height: 4rem;
    }

    .explanation-text>p {
        margin-top: 3rem;
    }
}

@media (max-width: 992px) {
    .explanation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .explanation-text {
        display: flex;
        font-style: italic;
        font-size: medium;
        align-items: center;
    }

    .explanation-block {
        flex-direction: row !important;
        padding: 1rem;
        background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1));
        border-radius: 25px;
        margin-bottom: 2rem;
        max-width: 528px;

    }

    .explanation-block-reversed {
        flex-direction: row-reverse !important;
        padding: 1rem;
        background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1));
        border-radius: 25px;
        margin-bottom: 2rem;
        max-width: 528px;

    }

    #explanation-img {
        object-fit: contain;
        height: 12rem;
        margin: .5rem;
    }
}

@media (max-width: 663px) {
    .explanation-block {
        flex-direction: column !important;
        padding: 1rem;
        max-width: 320px;

    }

    .explanation-block-reversed {
        flex-direction: column !important;
        padding: 1rem;
        max-width: 320px;

    }

    #explanation-img {
        height: 100px;
        /* object-fit: cover;
        object-position: bottom; */
        margin-bottom: 1rem;
    }
}

.credits-list {
    text-align: initial !important;
}

footer {
    background-color: #282830;
    --bs-bg-opacity: 1
}

.footer-text {
    --bs-text-opacity: 1;
    color: #c9d1e7;
}

.nav-link:hover {
    color: #c9d1e7;
}

.collection{
    background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1));
    border-radius: 25px;
    margin-bottom: 2rem;
    padding : 1rem;
}