{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="content">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>	
            {% endfor %}
        {% endif %}
        <br>
        <div class="d-flex flex-column justify-content-center text-center">
            <h2>Welcome,</h2>
            <h5 class="mb-3">GameZScan lets you can scan physical games' barcode and know the price you could sell it for on the secondary market</h5>
            <h5 class="mb-3">Scan, Quote, Sell.</h6>
            <div>
                <a href="/barcode/upload" class="btn btn-primary" id="home-cta">Scan a game</a>
            </div>
            <br>
            <p>
                See how it works below :
            </p>
            <div class="explanation">
                <div class="d-flex explanation-block">
                    <img src="{% static 'assets/noun-barcode.png' %}" alt="game scan" id="explanation-img">
                    <div class="explanation-text">
                        <p>Scan your game's barcode and upload it.</p>
                    </div>
                </div>
                <div class="d-flex explanation-block-reversed">
                    <img src="{% static 'assets/noun-price.png' %}" alt="game_estimation" id="explanation-img">
                    <div class="explanation-text">
                        <p>Get information on the average price at which it sells on eBay!</p>
                    </div>
                </div>
                <div class="d-flex explanation-block">
                    <img src="{% static 'assets/noun-folder.png' %}" alt="game collection" id="explanation-img">
                    <div class="explanation-text">
                        <p>Log in to add this game to one of your collections.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}